.CodeMirror {
  font-family: Hasklig, monospace;
  font-size: 14px;
  font-weight: normal;
  background-color: #2F3541 !important;
  -webkit-font-smoothing: antialiased;
}

.CodeMirror-focused .CodeMirror-activeline-background,
.CodeMirror-focused .CodeMirror-activeline-gutter {
  background-color: #2F3541 !important;
}

.CodeMirror .CodeMirror-gutters {
  background-color: #2F3541 !important;
}

.CodeMirror-cursor {
  background-color: #f1602b !important;
}

.CodeMirror .cm-keyword {
  color: #44C0C6 !important;
}

.CodeMirror .cm-number {
  color: #D1BC92 !important;
}

.CodeMirror .cm-variable {
  color: #bcc7d2 !important;
}

.CodeMirror .cm-variable-2 {
  color: #D1BC92 !important;
}

.CodeMirror .cm-tag {
  color: #dee2e3;
}

.CodeMirror .CodeMirror-linenumber {
  color: #606671 !important;
  opacity: 0.6;
}

.CodeMirror-lint-tooltip {
  background-color: #292929 !important;
  color: #e9eded !important;
  border: 0 !important;
  padding: 12px !important;

  border-radius: 3px !important;
}

.CodeMirror-lint-marker-warning, .CodeMirror-lint-message-warning,
.CodeMirror-lint-message-error, .CodeMirror-lint-message-warning {
  background-image: none !important;
  padding: 0 !important;
}

.CodeMirror-lint-mark-error, .CodeMirror-lint-mark-warning {
    background-image: none !important;
    border-bottom-style: dashed;
    border-bottom-width: 1px !important;
}

.CodeMirror-lint-mark-error {
  border-bottom-color: #ec5f67;
}

.CodeMirror-lint-mark-warning {
  border-bottom-color: #DECB6B;
}

.CodeMirror .cm-tag.cm-bracket {
  color: #82b1ff;
}

.CodeMirror .cm-type {
  color: #dee2e3;
}
.CodeMirror .cm-string {
  color: #FC8458;
}

.CodeMirror .cm-attribute {
  color: #decb6b;
}

.CodeMirror pre {
  padding-left: 20px !important ;
}
